* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

u {
  text-decoration-thickness: 1px;
  text-underline-offset: 4px; 
  color: var(--text-muted);
}

body, html {
  background-color: var(--bg);
  color: var(--text);
}

header {
    position: relative;
    width: 100%;
    height: 120px;
    background-color: var(--bg-light);
    text-align: center;
    line-height: 120px;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--bg-light);
    text-align: center;
    line-height: 60px;
}