* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    line-height: 60px;
}