/* --How to use phase-based styling-- 
body[data-phase="setup"] .game-ui {
  display: none;
}

body[data-phase="playing"] .game-ui {
  display: block;
} */

#dropzone {
  border: 2px dashed #999;
  padding: 2rem;
  text-align: center;
}

#dropzone.dragover {
  border-color: #3b82f6;
  background: rgba(59, 130, 246, 0.1);
}

.thumbnail {
    margin-top: 8px;
    max-width: 100%;
    max-height: 50px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.playArea {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 700px;
    background-color: var(--bg-light);
    position: relative;
    border-radius: 16px;
    
}

.infoArea {
    display: flex;
    flex-direction: column;
    height: 700px;
    gap: 16px
}

.info-1 {
    width: 300px;
    height: 700px;
    position: relative;
    border-radius: 16px;
    background-color: var(--bg-light);
    padding: 16px;
    padding-top: 48px;
}

.item {
    display: block;
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

.itemName {
    display: inline-block;
    font-size: x-large;
    max-width: 15ch;
    padding-right: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.details {
    display: inline-block;
    font-size: x-large;
    margin-left: 8px;
}

.addContent{
    width: 300px;
}

.addContent form{
    display: flex;
    width: 100%;
    gap: 8px;
}

.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-row > .fileInput {
    flex: 1;
}

.flex-row > .itemInput {
    flex: 3;
}

.flex-row > .submitButton {
    flex: 1;
}

fieldset{
    border: none;
    display: flex;
    width: 100%;
    gap: 8px;
}

.itemInput{
    padding: 8px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.itemInput:focus {
    outline: none;
    border-color: black;
}

.submitButton{
    border-radius: 8px;
    font-size: large;
    padding: 6px;
    cursor: pointer;
    transition: all 0.1s ease;
}

.submitButton:hover {
    background-color: green;
    color: white;
}

.pageContent {
    margin: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.match {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 16px;
}

.player {
    outline: var(--border) solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 300px;
    height: 200px;
    background-color: var(--bg-dark);
    border-radius: 16px;
    transform: scale(0.95);
    transition: all 0.2s ease;
    cursor: pointer;
}

.player:hover {
    background-color: var(--primary);
} 

.player.active {
    background-color: lightgreen;
    transform: scale(1.05);
}

.leftPlayer, .rightPlayer {
    background-size: cover;
    background-position: center;
    border-radius: 12px;
}

.playerName {
    font-size: 3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 10ch;
}

.withImage {
    position:absolute;
    bottom: -50px;
}

body[data-phase="setup"] .matchCounter {
    display: none;
}

body[data-phase="playing"] .setupButton, body[data-phase="finished"] .setupButton {
    display: none;
}

body[data-phase="setup"] .setupButton {
    display: block;
    width: 300px;
    height: 100px;
    border-radius: 16px;
    font-size: x-large;
    background-color: green;
    transition: all 0.3s ease;
    cursor: pointer;
}

body[data-phase="setup"] .setupButton:hover {
    background-color: lightgreen;
    font-size: xx-large;
}

body[data-phase="setup"] .gameButtons {
    display: none;
}

.gameButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 10px;
    display: flex;
    gap: 8px;
}

body[data-phase="finished"] .gameButton, body[data-phase="finished"] .nav-button-play{
    display: none;
}

.resetButton, .gameButton {
    display: inline;
    padding: 0px 20px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.1s ease;
}

.resetButton:hover {
    background-color: var(--secondary);
    color: white;
}

.gameButton:hover {
    background-color: var(--primary);
    color: white;
}

.nav-button-play {
    display: inline;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.1s ease;
    background-color: rgba(0, 0, 0, 0.1);
}

.nav-button-play:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
