:root {
    --bg-dark: oklch(0.92 0.08 190);
    --bg: oklch(0.96 0.08 190);
    --bg-light: oklch(1 0.08 190);
    --text: oklch(0.15 0.16 190);
    --text-muted: oklch(0.4 0.16 190);
    --highlight: oklch(1 0.16 190);
    --border: oklch(0.6 0.16 190);
    --border-muted: oklch(0.7 0.16 190);
    --primary: oklch(0.4 0.16 190);
    --secondary: oklch(0.4 0.16 10);
    --danger: oklch(0.5 0.16 30);
    --warning: oklch(0.5 0.16 100);
    --success: oklch(0.5 0.16 160);
    --info: oklch(0.5 0.16 260);
    }
.dark {
    --bg-dark: oklch(0.1 0.08 190);
    --bg: oklch(0.15 0.08 190);
    --bg-light: oklch(0.2 0.08 190);
    --text: oklch(0.96 0.1 190);
    --text-muted: oklch(0.76 0.1 190);
    --highlight: oklch(0.5 0.16 190);
    --border: oklch(0.4 0.16 190);
    --border-muted: oklch(0.3 0.16 190);
    --primary: oklch(0.76 0.16 190);
    --secondary: oklch(0.76 0.16 10);
    --danger: oklch(0.7 0.16 30);
    --warning: oklch(0.7 0.16 100);
    --success: oklch(0.7 0.16 160);
    --info: oklch(0.7 0.16 260);
    }