:root {
    --bg-dark: oklch(0.92 0.035 187);
    --bg: oklch(0.96 0.035 187);
    --bg-light: oklch(1 0.035 187);
    --text: oklch(0.15 0.07 187);
    --text-muted: oklch(0.4 0.07 187);
    --highlight: oklch(1 0.07 187);
    --border: oklch(0.6 0.07 187);
    --border-muted: oklch(0.7 0.07 187);
    --primary: oklch(0.4 0.1 187);
    --secondary: oklch(0.4 0.1 7);
    --danger: oklch(0.5 0.07 30);
    --warning: oklch(0.5 0.07 100);
    --success: oklch(0.5 0.07 160);
    --info: oklch(0.5 0.07 260);
    }
.dark {
    --bg-dark: oklch(0.1 0.035 187);
    --bg: oklch(0.15 0.035 187);
    --bg-light: oklch(0.2 0.035 187);
    --text: oklch(0.96 0.07 187);
    --text-muted: oklch(0.76 0.07 187);
    --highlight: oklch(0.5 0.07 187);
    --border: oklch(0.4 0.07 187);
    --border-muted: oklch(0.3 0.07 187);
    --primary: oklch(0.76 0.1 187);
    --secondary: oklch(0.76 0.1 7);
    --danger: oklch(0.7 0.07 30);
    --warning: oklch(0.7 0.07 100);
    --success: oklch(0.7 0.07 160);
    --info: oklch(0.7 0.07 260);
    }