.left {
    left: 10px;
}

.right {
    right: 10px;
}

.top-centre {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.top-left {
    position: absolute;
    top: 10px;
    left: 10px;
}

.draw {
    outline: black solid;
}