/* --How to use phase-based styling-- 
body[data-phase="setup"] .game-ui {
  display: none;
}

body[data-phase="playing"] .game-ui {
  display: block;
} */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    line-height: 60px;
}

.playArea {
    width: 700px;
    height: 700px;
    background-color: #f9f9f9;
    position: relative;
}

.infoArea {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 700px;
}

.info-1 {
    width: 300px;
    height: 300px;
}

.info-2 {
    width: 300px;
    height: 350px;
}

.pageContent {
    margin: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.draw {
    outline: black solid;
}

.nav-button-play {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.1);
}

.nav-button-play:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.left {
    left: 10px;
}

.right {
    right: 10px;
}

.match {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.player {
    outline: black solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 300px;
    height: 200px;
    background-color: gray;
    border-radius: 16px;
}