@import "./styles/global.css";

/* base elements */
@import "./styles/base.css";

/* components classes */
@import "./styles/components.css";

/* layout */
@import "./styles/layouts.css";

/* typography */
@import "./styles/typography.css";